@import './base.css';

img {
  display: block;
  float: left;
  margin: 0 2rem 0 0;
}

@media (max-width: 1024px) {
  img {
    position: absolute;
  }
}

@media (max-width: 625px) {
  img {
    position: relative;
  }
}

.item {
  display: flex;
  margin-top: 2rem;
}

.details {
  flex: 1;
  margin-left: 1rem;
}

i {
  color: var(--color-text);
  display: flex;
  height: 32px;
  place-content: center;
  place-items: center;
  width: 32px;
}

h3 {
  color: var(--color-heading);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

@media (max-width: 420px) {
  h3 {
    display: none;
    visibility: hidden;
  }

  div {
    text-align: center;
  }

  h1 {
    padding-top: 10%;
  }
}

@media (max-width: 1024px) {
  div {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .item:after {
    border-left: 1px solid var(--color-border);
    content: " ";
    height: calc(50% - 25px);
    left: 0;
    position: absolute;
    top: calc(50% + 25px);
  }

  .item:before {
    border-left: 1px solid var(--color-border);
    bottom: calc(50% + 25px);
    content: " ";
    height: calc(50% - 25px);
    left: 0;
    position: absolute;
  }

  .item:first-of-type:before {
    display: none;
  }

  .item:last-of-type:after {
    display: none;
  }

  .item {
    margin-top: 0;
    padding: 0.4rem 0 1rem calc(var(--section-gap) / 2);
  }

  i {
    background: var(--color-background);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    height: 50px;
    left: -26px;
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
  }
}

#app {
  font-weight: normal;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

nav {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  border-left: 1px solid var(--color-border);
  display: inline-block;
  padding: 0 1rem;
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    padding-right: calc(var(--section-gap) / 2);
    place-items: center;
  }

  header .wrapper {
    display: flex;
    flex-wrap: wrap;
    place-items: flex-start;
  }

  nav {
    font-size: 1rem;
    margin-left: -1rem;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: left;
  }
}

.dropdown-menu {
  background-color: var(--vt-c-black-soft);
  border: 1px solid var(--color-border);
  color: white;
  min-width: 5.5rem;
}

.popup-message {
  background-color: var(--vt-c-black-soft);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  bottom: 20px;
  color: white;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 20px;
  transition: opacity 0.5s;
  z-index: 999;
}

a,
.blue {
  color: rgb(0, 128, 255);
  text-decoration: none !important;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(0, 255, 0);
}

/* used globally */
input,
select {
  background-color: var(--vt-c-black);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  color: var(--vt-c-text-dark-2);
  font-size: 1rem;
  padding: 0.5rem;
}

@media (max-width: 445px) {
  input {
    float: left !important;
  }
}

svg:hover, button:hover {
  color: rgb(0, 38, 255);
}

.pointer, svg {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

h3, h5 {
  color: var(--color-heading);
  font-weight: 500;
  margin-bottom: 0.4rem;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  word-wrap: break-word;
}

th {
  color: var(--color-heading);
}

td {
  color: var(--color-text) !important;
}

.wizkid-container {
  height: 40vh;
  overflow-y: auto;
}

.wizkids {
  background-color: var(--vt-c-black-soft);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  gap: 1rem;
  padding: 2rem;
}

.wizkids h3 {
  padding: 0.5rem;
}

.login-form {
  margin: auto;
  width: 60%;
}

@media (max-width: 625px) {
  .login-form {
    margin: auto;
    width: 100%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.overlay .form-card {
  background-color: var(--vt-c-black-soft);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  height: auto;
  left: 50%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 1rem;
  padding: 2rem;
}

label {
  font-weight: bold;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1rem;
}